$main: #424242;
$secondary: #64B5F6;
$font: 'Nunito', sans-serif;
$default: 18px;
$small: 12px;
$light: 300;
$normal: 400;
$bold: 700;
$component-padding: 50px 20px;
$small-radius: 5px;
$big-radius: 20px;
$shadow-block: 2px 2px 2px rgba(0,0,0,.2)